.header-module--language--2Uqw7__control{
    background-color: #020102;
    border-color: hsl(0, 42.1%, 22.4%);
}

.header-module--language--2Uqw7__single-value, .header-module--language--2Uqw7__indicatorContainer{
    color: #916f79;
}

.header-module--language--2Uqw7__indicatorSeparator{
    background-color: #916f79;
}

.header-module--language--2Uqw7__option--is-selected{
    background-color: crimson;
}

.header-module--language--2Uqw7__option--is-focused{
    background-color:  #e6c3cd;
    color: black;
}
