.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  background-color: #531c279c;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

.footer a:hover{
  color: #e6c3cd;
}

.footer a{
  color: #916f79;
}

.icon {
  width: 16px;
}