.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(180deg, rgba(27, 10, 27, 0.75) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(27, 10, 27, 0.75) 100%), url('/bg.png');
}

.container header, .container main, .container footer{
  width: 100vw;
}

.container header{
  align-self: flex-start;
}

.container footer{
  align-self: flex-end
}

.container main{
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}